#navbarNavAltMarkup{
    justify-content: space-evenly;
}
.nav-link{ 
    color: rgb(145 142 154);
    font-weight: 500;
    margin: 0px 20px;
}

.nav-link:hover{
    color: rgb(110, 75, 224);
    box-shadow: 1px 1px 14px 1px rgb(51, 153, 151);
}

.navbar-toggler{
    z-index: 3;
}
#home{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}
.bg-body-tertiary{
    background-color: transparent !important;
}
.w-100 {
    width: 100%!important;
    height: 72%;
}
#info{
    position: relative;
    bottom: 0;
    background-color: #ffffff;
    margin-right: 9em;
    color: #eebcbc;
    font-weight: 700;
    font-size: 19px;
}
#intro{
    position: relative;
    top: 28em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: self-end;
    background-color: #a6a5a5;
    padding: 27px;
}
h3 {
    margin: 25px 112px;
    color: #F9FBE7;

}